title: Manc-COJO
description: YOUR DESCRIPTION
theme: just-the-docs

url: https://light156.github.io/multi-ancestry-COJO

aux_links: # remove if you don't want this link to appear on your pages
  GitHub link: https://github.com/light156/multi-ancestry-COJO


defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"


callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red